.tarjetas {
  margin-top: 40px;
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 1366px;
  margin: auto;
}

.card {
  position: relative;
  min-width: 420px;
  height: 140px;
  margin: 10px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}

.card:hover {
  height: 350px;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(170px);
}

.card:hover .content .details {
  transform: translateY(0px);
}

.card .content .details h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 900;
  color: #555;
  line-height: 1.2em;
}

.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card .content .details .data {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;
}

.card .content .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.card .content .details .data h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}

.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card .content .details .actionBtn form {
  width: 100%;
}

.card .content .details .actionBtn .btn-enviar {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  border-radius: 20px;
  display: block;
  background: linear-gradient(to right, #c76361, #c32927);
  color: rgb(243, 240, 240);
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 1px 1px 30px -9px #bd2825;
  transition: all 300ms;
  width: 100%;
  margin-bottom: -5px;
}

.card .content .details .actionBtn .btn-enviar:hover {
  box-shadow: 1px 1px 40px -6px #c72321;
}


.contenedor-error {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.contenedor-error .contenido h1 {
  font-weight: 900;
}